@import url('https://fonts.googleapis.com/css2?family=Delius&family=Overlock:wght@700&family=Reddit+Sans&display=swap');

body {
    margin: 0 auto;
    font-family: "Reddit Sans", sans-serif;
    font-size: 1.2em;
    background-color: azure;
    color: rgb(35, 39, 39);
    text-align: center;
}

h1 {
    font-family: "Delius", cursive;
    font-size: 3em;
}

h2 {
    font-family: "Overlock", sans-serif;
}

p {
    padding: 20px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

#logo {
    width: 10%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#headerimg {
    width: 100%;
    opacity: 0.5;
}

footer {
    min-height: 100px;
    font-size: 0.8em;
    background-color: lightblue;
    color: #3F4F54;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: #42374f;
}

footer a:hover {
    color: white;
}



/*huvudnavigation*/
.mainnav {
    display: flex;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: center;
}

li {
    margin-right: 10px;
}

li a {
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: #3F4F54;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 100%;
}

li a:hover {
    color: white;
    background-color: #607880;
}

/*Inställningar mobil*/
main {
    display: grid;
    width: 98%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.main_index img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.main_imagespage img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

.main_aboutme img {
    width: 100%;
    height: auto;
}

/*Grid index section .info*/
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.p {
    grid-area: 2 / 1 / 3 / 3;
}

.imgmainone {
    grid-area: 4 / 1 / 5 / 3;
}

.imgmaintwo {
    grid-area: 5 / 1 / 6 / 3;
}

.imgmainthree {
    grid-area: 3 / 1 / 4 / 3;
}

/*Grid imagespage .articleone*/
.articleone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.h2_imagespage {
    grid-area: 1 / 1 / 2 / 3;
}

.article_imgedit {
    grid-area: 2 / 1 / 3 / 3;
}

.article_imgorg {
    grid-area: 3 / 1 / 4 / 3;
}

.p_article {
    grid-area: 4 / 1 / 5 / 3;
}

/*Grid imagespage .articletwo*/
.articletwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

/*Grid imagespage .articlethree*/
.articlethree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

/*Grid about*/
.aboutme {
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.h2_aboutme {
    grid-area: 1 / 1 / 2 / 3;
}

.p_aboutme {
    grid-area: 2 / 1 / 3 / 3;
}

.p_sparetime {
    grid-area: 3 / 1 / 4 / 3;
}

.img_portrait {
    grid-area: 4 / 1 / 5 / 3;
}

/*inställningar tablet och desktop*/
@media screen and (min-width: 600px) {
    body {
        font-size: 1.6em;
    }

    .main_index img {
        width: 100%;
        height: auto;
        border-radius: 20px;

    }

    .main_imagespage img {
        width: 100%;
        max-width: 1000px;
    }

    .main_aboutme img {
        width: 100%;
    }

    /*Grid index section .info*/
    .h2 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .p {
        grid-area: 2 / 1 / 3 / 3;
    }

    .imgmainone {
        grid-area: 4 / 1 / 5 / 3;
    }

    .imgmaintwo {
        grid-area: 5 / 1 / 6 / 3;
    }

    .imgmainthree {
        grid-area: 3 / 1 / 4 / 3;
    }

    /*Grid imagespage*/
    .h2_imagespage {
        grid-area: 1 / 1 / 2 / 3;
    }

    .article_imgedit {
        grid-area: 2 / 1 / 3 / 2;
    }

    .article_imgorg {
        grid-area: 2 / 2 / 3 / 3;
    }

    .p_article {
        grid-area: 3 / 1 / 4 / 3;
    }

    /*Grid aboutme*/
    .h2_aboutme {
        grid-area: 1 / 1 / 2 / 2;
    }

    .p_aboutme {
        grid-area: 2 / 1 / 3 / 2;
    }

    .p_sparetime {
        grid-area: 3 / 1 / 4 / 2;
    }

    .img_portrait {
        grid-area: 1 / 2 / 4 / 3;
        align-self: end;
    }

}